* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html 
body {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-family: 'Arial', 'Sans-serif' 'Borg 9';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;    
    overflow-x: hidden;
    margin-top: 0;
    background-image: url(img/jpwtmyjmi30-dominik-lange.jpg);
    background-attachment: fixed;
    background-position: center;
    
}

#small-s{
    
}

.section-logo {
    background-image: url(img/jpwtmyjmi30-dominik-lange.jpg);
    background-attachment: fixed;
    background-position: center;
    
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 10px;
}

.section-tour {
    margin: 0;
    background-image: url(img/jpwtmyjmi30-dominik-lange.jpg);
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: 'Borg 9';
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-align: center;
}

#logo {
    text-align: center;
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px white solid;
    padding: 5px 30px;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    
}



#small-s{
    
    font-size: 80%;
    margin-left: 3px;
}

.halfcut-header {
    position: relative;
    text-align: center;
    width: 1140px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.section-music {
    background-color: rgba(0, 0, 0, 0.47);
}

.section-posters {
    background-color: rgba(0, 0, 0, 0.47);
    
}

.section-footer {
    margin-bottom: 0;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.47);
}

.social-links li {
    display: inline-block;
    margin-left: 10px
}

.social-links li i{
    color: #ffffff;
    font-size: 35px;
}

.social-nav {
    list-style: none;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 50%;
    margin-left: 25%;
    text-align: center;    
}

.copyright {
    text-align: center;
    font-size: 80%;
}

.player {
    width: 100%;
    align-content: center;
    padding: 0%;
    
}
.bio {
    background-color: rgba(0, 0, 0, 0.47);
    padding: 15px;
    border-radius: 5px;
    text-align: justify;
}

.songkick{
    position: relative;
    padding-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}



.poster {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.poster img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.poster img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


.sect-main {
    background-image: url(img/jpwtmyjmi30-dominik-lange.jpg);
   background-attachment: fixed;
    background-position: center;
    height: 250px;
}

.section-about {
    background-image: url(img/jpwtmyjmi30-dominik-lange.jpg);
    background-attachment: fixed;
    background-position: center;
    padding: 50px 5% 30px 5%;
    overflow: hidden;
    font-family: courier;
    font-weight: 400;
}

.band {
    background-image: url(img/jpwtmyjmi30-dominik-lange.jpg);
    width: 100%;
    height: 
    
}